<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gomoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gomoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Gomoku.Properties.Settings>
            <setting name="CellSize" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="AImoveBackColor" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BoardSelectionBackColor" serializeAs="String">
                <value>PapayaWhip</value>
            </setting>
            <setting name="BoardWidth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="BoardHeight" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="winsPerLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lossPerLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastSelectedLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lastGameMode" serializeAs="String">
                <value>0</value>
            </setting>
        </Gomoku.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Gomoku.Properties.Settings>
            <setting name="maxCancelMoves" serializeAs="String">
                <value>5</value>
            </setting>
        </Gomoku.Properties.Settings>
    </applicationSettings>
</configuration>